USE [LostWorld]
GO
/****** Object:  Table [dbo].[Info_Backgrounds]    Script Date: 9/8/2020 1:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info_Backgrounds](
	[Name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
