USE [LostWorld]
GO
/****** Object:  Table [dbo].[Info_Subclass]    Script Date: 9/8/2020 1:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info_Subclass](
	[Class] [nvarchar](50) NULL,
	[Sub_Class] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Info_Subclass] ([Class], [Sub_Class]) VALUES (N'Wizard', N'School of Theurgy Knowledge')
INSERT [dbo].[Info_Subclass] ([Class], [Sub_Class]) VALUES (N'Wizard', N'School of Theurgy Life')
INSERT [dbo].[Info_Subclass] ([Class], [Sub_Class]) VALUES (N'Wizard', N'School of Theurgy Light')
GO
