USE [LostWorld]
GO
/****** Object:  Table [dbo].[Link_Class_Spells]    Script Date: 9/8/2020 1:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Link_Class_Spells](
	[Class] [nvarchar](50) NOT NULL,
	[Spell] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Link_Class_Spells] ([Class], [Spell]) VALUES (N'Artificer', N'Acid Splash')
INSERT [dbo].[Link_Class_Spells] ([Class], [Spell]) VALUES (N'Artificer', N'Create Bonfire')
INSERT [dbo].[Link_Class_Spells] ([Class], [Spell]) VALUES (N'Artificer', N'Dancing Lights')
GO
