USE [LostWorld]
GO
/****** Object:  Table [dbo].[Info_Races]    Script Date: 9/8/2020 1:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info_Races](
	[Name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Info_Races] ([Name]) VALUES (N'Aarakocra')
INSERT [dbo].[Info_Races] ([Name]) VALUES (N'Protector Aasimar')
INSERT [dbo].[Info_Races] ([Name]) VALUES (N'Scourge Aasimar')
GO
