USE [LostWorld]
GO
/****** Object:  Table [dbo].[Info_Crafting_Recipes]    Script Date: 9/8/2020 1:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info_Crafting_Recipes](
	[Skill] [nvarchar](50) NULL,
	[Essence_1] [nvarchar](50) NULL,
	[Essence_2] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Short_Description] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Info_Crafting_Recipes] ([Skill], [Essence_1], [Essence_2], [Name], [Short_Description], [Description]) VALUES (N'Alchemist', N'Light', N'Light', N'Radiant Damage', N'Deal radiant damage', N'Each creature makes a constitution saving throw. On a failure, they take 1d6 radiant damage. On a success, they take half damage')
INSERT [dbo].[Info_Crafting_Recipes] ([Skill], [Essence_1], [Essence_2], [Name], [Short_Description], [Description]) VALUES (N'Alchemist', N'Light', N'Water', N'Ugly Mug', N'Reduce Charisma save', N'Each creature reduces their next charisma saving throw by 1d4')
INSERT [dbo].[Info_Crafting_Recipes] ([Skill], [Essence_1], [Essence_2], [Name], [Short_Description], [Description]) VALUES (N'Alchemist', N'Light', N'Fire', N'Fairy Light', N'Prevent invisibility', N'Each creature or object can’t benefit from being invisible.')
GO
