USE [LostWorld]
GO
/****** Object:  Table [dbo].[Info_Spells]    Script Date: 9/8/2020 1:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info_Spells](
	[Name] [nvarchar](50) NOT NULL,
	[Level] [int] NOT NULL,
	[School] [nvarchar](50) NOT NULL,
	[Ritual] [bit] NOT NULL,
	[Source] [nvarchar](50) NOT NULL,
	[Consumable_Cost] [float] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Info_Spells] ([Name], [Level], [School], [Ritual], [Source], [Consumable_Cost]) VALUES (N'Abi-Dalzim''s Horrid Wilting', 8, N'Necromancy', 0, N'Elemental Evil', 0)
INSERT [dbo].[Info_Spells] ([Name], [Level], [School], [Ritual], [Source], [Consumable_Cost]) VALUES (N'Absorb Elements', 1, N'Abjuration', 0, N'Elemental Evil', 0)
INSERT [dbo].[Info_Spells] ([Name], [Level], [School], [Ritual], [Source], [Consumable_Cost]) VALUES (N'Acid Splash', 0, N'Conjuration', 0, N'Players Handbook', 0)
GO
